@import url(https://fonts.googleapis.com/css?family=Poor+Story);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: 0;
  box-shadow: none;
  background-color: transparent;
}

/* VARIABLES */
:root {
  --main-color: hsl(0, 0%, 60%);
  --main-bg-color: black;
  --text-color: silver;
  --background-opacity: rgba(0,0,0,0.5);
}

body {
  color: var(--text-color);
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
  background: black;
  letter-spacing: 1.5px;
}

#title {
  font-family: "Poor Story";
  font-size: 3.5rem;
  margin: 0;
  padding: 5vh;
  background: var(--background-opacity);
  color: var(--text-color);
  height: 5vh;
  font-weight: bold;
}

#container {
  width: 80%;
  background: var(--main-bg-color);
  height: 100vh;
  margin: 0 10%;
  /* background-image: url("https://res.cloudinary.com/pacmankana/image/upload/v1542328386/react_pomodoro/ying_yang.jpg"); */
  /* background-size: contain; */
}

#settings_container {
  display: flex;
  justify-content: center;
}

.settings {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  width: 50%;
  font-size: 1rem;
  background: var(--background-opacity);
}

.setting {
  height: 150px;
}

.settings_btns {
  margin: 0;
  padding: 0;
  color: var(--text-color);
  background: none;
  border: transparent;
  font-size: 3em;
  width: 50px;
  height: 50px;
  /* border-radius: 100%; */
  /* margin: 0px 5px; */
}

.settings_btns:hover {
  /* border: 1px solid white; */
  color: var(--main-color);
  cursor: pointer;
}

.settings_btns:active:focus {
  background-color: transparent;
}

.settings_btns:active {
  color: #fff;
}

.settings_btns:focus {
  color: white;
}

.settings_btns[disabled] {
  color: transparent;
  background-color: transparent;
}

.settings_btns[disabled]:hover {
  color: transparent;
  background-color: transparent;
}

#settings_btns_down_arrow {
  margin-right: 10px;
}

.settings_time {
  font-size: 1.8rem;
  vertical-align: 3px;
}

.settings_title {
  text-transform: uppercase;
  font-size: 2rem;
}

#current_container {
  width: 50%;
  background: var(--background-opacity);
  height:90vh;
}

.current {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 110px;

}

#current_title {
  font-size: 3.1rem;
  width: 150px;
}

#timer_title:hover {
  background: -webkit-linear-gradient(#eee, var(--main-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#current_time {
  font-size: 1.9rem;
}
#start_button {
  margin-top: 20px;
  font-size: 1.5rem;
}
#start_button:hover {
  cursor: pointer;
  color: var(--main-color);
}

@media (max-width: 600px) {

  .settings {
    font-size: 0.8rem;
  }

  .settings_title {
    font-size: 1.4rem;
  }

  .settings_time {
    font-size: 1.2rem;
    margin: 10px;
  }

  #current_title {
    font-size: 2.5rem;
  }

  #current_time {
    font-size: 1.5rem;
  }
}
